:root{
    --background-color: #1E252B;
    --backround-color-section-brand: #2C353D33;
    --box-shadow-card: #28303699;
    --button-backround-color: #FF6E30;
    --header-text-color: rgba(255, 255, 255, 0.55);
    --title-text-color: rgba(255, 255, 255, 0.90); 
    --title-card-color: rgba(255, 255, 255, 0.78); 
    --span-card-text-color: rgba(255, 165, 55, 0.55);
    --button-border-color: rgba(255, 255, 255, 0.10);
    --title-brand-color: rgba(255, 255, 255, 0.80);
    --button-text-color: #fff;
}
.container{
    width: 1440px;
    padding-left: 108px;
    padding-right: 108px;
    margin: 0 auto;
}
/* header */
.header{
    background-color: var(--background-color);
}
.header-items{
    color: var(--header-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/* hero */
.hero{
    background-color: var(--background-color);
}
.hero-title{
    color: var(--title-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 140%;
}
.hero-title-span{
    color: var(--button-backround-color);
}
.hero-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 166.667%;
}
/* popular */
.popular{
    background-color: var(--background-color);
}
.popular-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}
.popular-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 166.667%;
}
.popular-items-title{
    color: var(--title-card-color);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
}
.popular-items-span{
    color: var(--span-card-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
}
.popular-items-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
}
.popular-button{
    background-color: var(--background-color);
    color: var(--button-backround-color);
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    padding: 17px 38px;
    border: 1px solid var(--button-border-color);
    border-radius: 4px;
    cursor: pointer;
}
.popular-button:hover,
.popular-button:focus{
    background-color: var(--button-backround-color);
    color: var(--button-text-color);
}
/* brand */
.brand{
    background-color: var(--backround-color-section-brand);
}
.brand-title{
    color: var(--title-brand-color);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
}
/* newcomer */
.newcomer{
    background-color: var(--background-color);
}
.newcomer-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}
.newcomer-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 166.667%;
}
.newcomer-button{
    background-color: var(--button-backround-color);
    color: var(--button-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    padding: 14px 40px;
    border-radius: 4px;
    cursor: pointer;
}
.newcomer-button:hover,
.newcomer-button:focus{
    background-color: var(--background-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
}
.newcomer-items-title{
    color: var(--title-card-color);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
}
.newcomer-items-span{
    color: var(--span-card-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
}
.newcomer-items-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
}
/* join */
.join{
    background-color: var(--background-color);
}
.join-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}
.join-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 166.667%;
}
/* footer */
.footer{
    background-color: var(--background-color);
}