:root{
    --background-color: #1E252B;
    --backround-color-section-brand: #2C353D33;
    --box-shadow-card: #28303699;
    --button-backround-color: #FF6E30;
    --header-text-color: rgba(255, 255, 255, 0.55);
    --title-text-color: rgba(255, 255, 255, 0.90); 
    --title-card-color: rgba(255, 255, 255, 0.78); 
    --span-card-text-color: rgba(255, 165, 55, 0.55);
    --button-border-color: rgba(255, 255, 255, 0.10);
    --title-brand-color: rgba(255, 255, 255, 0.80);
    --button-text-color: #fff;
    --header-button-text-color: #FDF5FF;
    --form-input-text-color: rgba(255, 255, 255, 0.38);
}
.container{
    width: 1440px;
    padding-left: 108px;
    padding-right: 108px;
    margin: 0 auto;
}
/* header */
.header{
    background-color: var(--background-color);
    padding-top: 34px;
}
.site-link{
    text-decoration: none;
    color: var(--header-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.header-items:not(:last-child){
    margin-right: 40px;
}
.site-link-login{
    text-decoration: none;
    color: var(--title-card-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 28px;
    border-radius: 8px;
}
.site-link-login:hover,
.site-link-login:focus{
    background-color: var(--button-backround-color);
    color: var(--header-button-text-color);
}
.header-list{
    display: flex;
    
}
.header-list-login{
    display: flex;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gategories{
    border: none;
    background-color: var(--background-color);
    color: var(--header-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/* hero */
.hero{
    background-color: var(--background-color);
    background-image: url(../image/backgroun-section.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 58px;
    padding-bottom: 100px;
}
.hero-title{
    color: var(--title-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 500;
    width: 600px;
}
.hero-title-span{
    color: var(--button-backround-color);
}
.hero-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 166.667%;
    width: 487px;
    margin-top: 30px;
}
.hero-form{
    margin-top: 30px;
    margin-bottom: 121px;
}
.hero-input{
    color: var(--form-input-text-color);
    border: 1.5px solid var(--button-border-color);
    background-color: var(--box-shadow-card);
    border-radius: 15px;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 18px;
    padding-right: 255px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
}
.hero-form-button{
    color: var(--button-text-color);
    background-color: var(--button-backround-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    padding: 12px 36px;
    border-radius: 8px;
    border: none;
    margin-left: -145px;
}
.hero-wrapper-img{
    display: flex;
    margin-bottom: -90px;
}
.hero-img{
    padding-right: 31px;
}
/* popular */
.popular{
    background-color: var(--background-color);
}

.popular-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}
.popular-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 166.667%;
}
.popular-items{
    width: 392px;
}
.popular-items:hover{
    border-radius: 15px;
}
.popular-items-wrap-visit:hover{
    color: var(--button-text-color);
    background-color: var(--button-backround-color);
}
.popular-items-title{
    color: var(--title-card-color);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    padding-top: 33px;
}
.popular-items-span{
    color: var(--span-card-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
}
.popular-items-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
}
.popular-button{
    background-color: var(--background-color);
    color: var(--button-backround-color);
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    padding: 17px 38px;
    border: 1px solid var(--button-border-color);
    border-radius: 4px;
    cursor: pointer;
}
.popular-button:hover,
.popular-button:focus{
    background-color: var(--button-backround-color);
    color: var(--button-text-color);
}
.popular-items-wrap-visit{
    color: var(--header-text-color);
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    padding: 9px 35px;
    border-radius: 8px;
}

/* brand */
.brand{
    background-color: var(--background-color);
    padding-bottom: 60px;
}
.brand-title{
    color: var(--title-brand-color);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;
    padding: 55px 0;
}
.brand-container{
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-image: radial-gradient(circle farthest-side at 0% 0%, rgba(255, 72, 66, 0.20), rgba(44, 53, 61, 0.00) 150px);
    border-radius: 25px;
    background-color: rgba(44, 53, 61, 0.20);
    backdrop-filter: blur(25px);
    display: flex;
}
.brand-i{
    display: flex;
}
.brand-img{
    justify-content: space-between;
}
.brand-img:not(:last-child){
    margin-right: 107px;
}
/* newcomer */
.newcomer{
    background-color: var(--background-color);
}
.newcomer-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}
.newcomer-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 166.667%;
}
.newcomer-button{
    background-color: var(--button-backround-color);
    color: var(--button-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    padding: 12px 38px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid var(--button-backround-color);
}
.newcomer-button:hover,
.newcomer-button:focus{
    background-color: var(--background-color);
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
}
.newcomer-items-title{
    color: var(--title-card-color);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
}
.newcomer-items-span{
    color: var(--span-card-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
}
.newcomer-items-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
}
.newcomer-items-wrap{
    display: flex;
}
/* join */
.join{
    background-color: var(--background-color);
}
.join-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}
.join-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 166.667%;
}
/* footer */
.footer{
    background-color: var(--background-color);
}
.footer-contact{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    display: flex;
}
.footer-categories{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    display: flex;
}
.footer-info{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    display: flex;
}
.footer-logo-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
}
.footer-other-title{
    color: var(--title-text-color);
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
}
.footer-logo-text{
    color: var(--header-text-color);
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 178.571%;
}